<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品登録確定</title>
<link rel="stylesheet" href="/common.css">
</head>
<body>
<div>
	<h1>商品一覧</h1>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<span th:text=${message}></span>
<p><a href="/showItem">商品購入画面</a></p>
	<p><a href="/logout">ログアウト</a></p>
	<p><a href="/addItem">商品新規登録画面</a></p>

	<!-- <table border="1">
		<tr>

			<th>商品名</th>
			<th>値段</th>
			<th>お届け日数</th>
			<th>画像</th>
			<th>更新</th>
			<th>削除</th>

		</tr>
		ここでitemsテーブルのデータベースの情報を出力したい
		<tr th:each="item:${items}">

			<td th:text="${item.name}"></td>
			<td th:text="${item.price}"></td>
			<td th:text="${item.delivaryDays}"></td>
			<td th:text="${item.picture}"></td>
			<td><a th:href="|/editItem/${item.code}|">更新</a></td>
			<td><a th:href="|/deleteItem/${item.code}|">削除</a></td>

		</tr>
	</table> -->
	
	<table border="1" class="itemlist" style="width:90%;">
		<!-- <tr>
			<th>NO</th>
			<th>商品名</th>
			<th>値段</th>
			<th>写真</th>
			<th>お届け日数</th>
		</tr> -->
		
		<tr th:each="item:${items}">
			<td><img th:src="|/${item.picture}|" /></td>
			<!-- <td th:text="${item.code}"></td> -->
			
			<td class="td_left">
				<p><span>商品名：</span><span th:text="${item.name}"></span></p>
				<p><span>値段：</span><span th:text="${item.price}"></span></p>
				<p><span>お届け日数：</span><span th:text="${item.delivaryDays}"></span></p>
				<p class="item_link">
					<a th:href="|/editItem/${item.code}|">更新</a>
					<a th:href="|/deleteItem/${item.code}|">削除</a>
				</p>
			</td>
			
			<!-- <td th:text="${item.price}"></td>
			<td th:text="${item.delivaryDays}"></td>
			<td><a th:href="|/itemDetail/${item.code}|">商品詳細ページ</a></td> -->
		</tr>
	</table>

	<!-- <input type="submit" value="登録"> -->
	<br>
	

</body>
</html>