<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規登録</title>
<link rel="stylesheet" href="/common.css">
</head>
<body>


	<p>新規登録画面です。情報を入力してください</p>
	<form action="newAccount" method="post">
		<p>
			<input type="text" name="name" placeholder="名前" />
		</p>
		<p>
			<input type="text" name="address" placeholder="住所" />
		</p>
		<p>
			<input type="text" name="tel" placeholder="電話番号" />
		</p>
		<p>
			<input type="text" name="email" placeholder="メールアドレス" />
		</p>
		<p>
			<input type="text" name="pass" placeholder="パスワード" />
		</p>
		<span th:text="${message}" style=color:red></span> <input type="submit" value="登録">
		<br>


	</form>
</body>
</html>