<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品購入画面</title>
<link rel="stylesheet" href="/common.css">
</head>
<body>
	<h1>商品購入画面</h1>
	<h3>以下の商品で間違いありませんか？</h3>
	
	<!-- <span th:replace="orderedReplace"></span> -->
	
	<table border="1" class="itemlist" style="width:90%;">
		<!-- <tr>
			<th>NO</th>
			<th>商品名</th>
			<th>値段</th>
			<th>写真</th>
			<th>お届け日数</th>
		</tr> -->
		
		<tr th:each="item:${items}">
			<td><img th:src="|/${item.value.picture}|" /></td>
			<!-- <td th:text="${item.code}"></td> -->
			
			<td class="td_left">
				<p><span>商品名：</span><span th:text="${item.value.name}"></span></p>
				<p><span>値段：</span><span th:text="${item.value.price}"></span></p>
				<p><span>お届け日数：</span><span th:text="${item.value.delivaryDays}"></span></p>
				<p class="item_link">
					
					<a th:href="|/deleteCart/${code}|">削除</a>
				</p>
			</td>
			
			<!-- <td th:text="${item.price}"></td>
			<td th:text="${item.delivaryDays}"></td>
			<td><a th:href="|/itemDetail/${item.code}|">商品詳細ページ</a></td> -->
		</tr>
	</table>
	<!--orderedReplaceに処理を任せた  -->
	<!-- <table border="1">
		<tr>
			<th>NO</th>
			<th>商品名</th>
			<th>値段</th>
			<th>お届け日数</th>

		</tr>
		ここでitemsテーブルのデータベースの情報を出力したい
		<tr th:each="item:${items}">
			<td th:text="${item.value.code}"></td>
			<td th:text="${item.value.name}"></td>
			<td th:text="${item.value.price}"></td>
			<td th:text="${item.value.delivaryDays}"></td>

		</tr>
	</table>
	<table>
	<tr>
		<td colspan="5" align="right" th:text="|総計:${total}|"></td>
		<td></td>
	</tr>
	</table>

	購入者の情報を書く
	<h3>お客様情報</h3>

	<table>
		<tr>
			<td>お名前</td>
			<td th:text="${session.user.name}"></td>

		</tr>
		<tr>
			<td>住所</td>
			<td th:text="${session.user.address}"></td>

		</tr>
		<tr>
			<td>電話番号</td>
			 <td th:text="${session.user.tel}"></td>

		</tr>
		<tr>
			<td>e-mail</td>
			 <td th:text="${session.user.email}"></td>
		</tr>
	</table> -->


	
	<form action="/ordered">
		<input type="submit" value="注文確定">
	</form> 

	<hr>
	<!-- ログアウトのreplace -->
	<span th:replace="/logout"></span>
	

	

</body>
</html>