<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧ページ</title>
<link rel="stylesheet" href="/common.css">
</head>
<body>
	<p class="title">商品一覧</p>
	<!-- 検索して出てくるように表示したい -->
	<form action="/search" method="post">
		<p>
			<input type="text" name="name" placeholder="検索ボックス" /><input
				type="submit" value="検索">
		</p>
		<a href="/loginAfter">menu画面</a>
	</form>
	<span th:text=${message} style=color:red></span>

	<!-- 商品のカテゴリー一覧(まだリンク先作っていない) -->
	
<!-- 一度消す -->
	<!-- <table border="1">
		<tr>
			<th>NO</th>
			<th>商品名</th>
			<th>値段</th>
			<th>写真</th>
			<th>お届け日数</th>
		</tr>
		ここでitemsテーブルのデータベースの情報を出力したい
		<tr th:each="item:${items}">
			<td th:text="${item.code}"></td>
			<td th:text="${item.name}"></td>
			<td th:text="${item.price}"></td>
			<td><img style="width: 100px;" th:src="|/${item.picture}|" /></td>
			<td th:text="${item.delivaryDays}"></td>
			<td><a th:href="|/itemDetail/${item.code}|">商品詳細ページ</a></td>
		</tr>
	</table> -->
	
	<table border="1" class="itemlist" style="width:90%;">
		<!-- <tr>
			<th>NO</th>
			<th>商品名</th>
			<th>値段</th>
			<th>写真</th>
			<th>お届け日数</th>
		</tr> -->
		
		<tr th:each="item:${items}">
			<td><img th:src="|/${item.picture}|" /></td>
			<!-- <td th:text="${item.code}"></td> -->
			
			<td class="td_left">
				<p><span>商品名：</span><span th:text="${item.name}"></span></p>
				<p><span>値段：</span><span th:text="${item.price}"></span></p>
				<p><span>お届け日数：</span><span th:text="${item.delivaryDays}"></span></p>
				<p class="item_link">
					<a th:href="|/itemDetail/${item.code}|">商品詳細ページ</a>
					<a th:href="|/addCart/${item.code}|">カートに追加</a>
				</p>
			</td>
			
			<!-- <td th:text="${item.price}"></td>
			<td th:text="${item.delivaryDays}"></td>
			<td><a th:href="|/itemDetail/${item.code}|">商品詳細ページ</a></td> -->
		</tr>
	</table>

	<hr>
	<!-- ログアウトのreplace -->
	<span th:replace="/logout"></span>
	

	<!-- </form> -->

</body>
</html>