<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ユーザー情報</title>
<link rel="stylesheet" href="/common.css">
</head>
<body>
	<h1>ユーザー情報</h1>
	<span th:text=${message} style=color:red></span>

	<a href="/userInfoConfirm">ユーザー情報の編集</a>
	<a href="/login">ログイン画面へ</a>
	<a href="/loginAfter">menu画面へ</a>


	<h3>お客様情報</h3>

	<table>
		<tr>
			<td>お名前</td>
			<td th:text="${session.user.name}"></td>

		</tr>
		<tr>
			<td>住所</td>
			<td th:text="${session.user.address}"></td>

		</tr>
		<tr>
			<td>電話番号</td>
			<td th:text="${session.user.tel}"></td>

		</tr>
		<tr>
			<td>e-mail</td>
			<td th:text="${session.user.email}"></td>
		</tr>
	</table>

</body>
</html>